:root { --dark: rgb(50, 50, 50);
        --accent: rgb(85, 220, 170);
        --light-text: rgb(255, 255, 255);
        --dark-text: rgb(0, 0, 0);

}
body {
    background-color: var(--dark)
}

h1 {
    font-size: 160%;
}

h2 {
    color: var(--accent);
    text-shadow: 5px 5px 5px black;
}

h3 {
    color: var(--light-text);
    position: relative;
    top: -12px;
    border: var(--accent) solid 2px;
    border-radius: 10px;
    background-color: var(--dark);
}

p {
    color: var(--light-text);
}
nav {
    height: 75px;
    background-color: var(--accent);
    color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}
nav li {
    display: inline;
    padding: 5px;
    font-size: 18px;
}

nav a {
    color: var(--dark);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.about {
 margin-top: 2%;
}
.about img {
    width: 100px;
    float: left;
    border: var(--accent) solid 2px;
    border-radius: 10px;
    margin-right: 10px;
}

.about p {
    padding: 5px;
}
.cards-h2 {
    margin-top: 50px;
    text-align: center;
}
.cards {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    
}
.card {
border: solid;
background-color: var(--dark);
border: var(--accent) dashed 3px;
border-radius: 10px;
height: 250px;
width: 100%;
text-align: center;
margin: 40px 50px;
}


.card img {
    margin-top: -2%;
    width: 100%;
    height: 92%;
    border-radius: 10px;
}

.first {
    flex: 1 1 80%;
}

footer h2 {
    text-align: center;
    
}

.contact {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.contact li {
    display: inline;
    padding: 10px;
}


@media screen and (min-width: 988px) {
    .card {
        width: 35%;
    }
}